.App {
  min-height: 100vh;
  padding-left: 20px;
  padding-right: 20px;
}

html {
  height: 100%;
}

@font-face {
  font-family: 'TAEBAEKmilkyway';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2310@1.0/TAEBAEKmilkyway.woff2')
    format('woff2');
  font-weight: normal;
  font-style: normal;
}

@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900');

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 1.7;
  color: #c4c3ca;
  background-color: #1f2029;
  overflow-x: hidden;
}

@media (min-width: 1000px) {
  .App {
    width: 1700px;
  }
}

@media (max-width: 1000px) {
  .App {
    width: 70vw;
  }
}

a {
  text-decoration: none;
  color: #c4c3ca;
}

.MyHeader {
  padding: 20px 0 20px 0;

  color: rgb(45, 110, 110);

  display: flex;
  align-items: center;
  border-bottom: 1px solid rgb(0, 0, 0);
}

.MyHeader .logBtn {
  position: absolute;
  right: 22px;
}

.MyHeader .logBtn button {
  margin-left: 20px;
  width: 90px;
  background-color: rgb(0, 0, 0);
  box-shadow: 2px 2px 5px rgb(105, 107, 107);
  color: white;
  font-weight: bold;

  cursor: pointer;
  border: none;
  border-radius: 5px;

  padding: 7px 15px 7px 15px;

  font-size: 13px;
}

.navbar {
  /* width: 100%; */
  padding: 15px 0;
  text-align: left;
}

.navbarMenu {
  color: #c4c3ca;
  margin: 8px;
  text-decoration: none;
  padding-right: 50px;
}

.Login {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70vh;
}

.Login label {
  display: inline-block;
  margin-top: 10px;
}

.Login input {
  width: 400px;
  height: 40px;
  margin-top: 10px;

  border: none;
  border-radius: 5px;
  box-shadow: 3px 3px 10px rgb(218, 205, 205);
}

.Login .loginBtn {
  cursor: pointer;
  border: none;
  border-radius: 5px;
  box-shadow: 2px 2px 7px rgb(214, 191, 191);
  background-color: rgb(226, 216, 205);

  padding: 7px 15px 7px 15px;
  margin-top: 10px;

  font-size: 13px;
}

.Login .registerBtn {
  cursor: pointer;
  border: none;
  border-radius: 5px;
  box-shadow: 2px 2px 7px rgb(214, 191, 191);
  background-color: rgb(226, 216, 205);

  padding: 7px 15px 7px 15px;
  margin-top: 10px;

  font-size: 13px;
}

.Register {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70vh;
}

.Register form label {
  margin-top: 10px;
}

.Register input {
  width: 400px;
  height: 40px;
  margin-top: 10px;

  border: none;
  border-radius: 5px;
  box-shadow: 2px 2px 4px rgb(189, 188, 188);
}

.Register form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.PostList-Card {
  background-color: rgb(0, 0, 0);
  width: 85%;
  height: 100%;
  margin: 15px auto;
  padding: 30px;
  border-radius: 10px;
  /* display: flex; */
  justify-content: center;
  min-height: 100vh;
  align-items: center;

  /* box-shadow: 3px 3px 10px rgb(201, 190, 190); */
  /* border-radius: 10px; */
  position: relative;
}

.PostItem .PostItem-content {
  display: contents;
  color: white;
}

.PostItem button {
  display: inline-block;
  margin: 5px;
  float: right;
}

.PostItem-Row {
  display: inline-block;
  width: 50%; /* 33.33% width to fit 3 items in a row */
  box-sizing: border-box;
  padding: 10px;
}

.Clearfix::after {
  content: '';
  display: table;
  clear: both;
}

.UserList {
  display: flex;
  flex-wrap: wrap; /* 요소가 두 줄로 나뉘도록 플렉스 래퍼핑 설정 */
  justify-content: center; /* 가로 중앙 정렬 */
  align-items: center; /* 세로 중앙 정렬 */
}

.UerList-Card {
  /* width: calc(30% - 30px); */
  margin: 5px;
  display: inline-block; /* 인라인 블록 요소로 표시 */
}

.UserItem {
  width: 90%;
  margin: 10px auto;
}

a {
  cursor: pointer;
  transition: all 200ms linear;
}
a:hover {
  text-decoration: none;
}
.link {
  color: #c4c3ca;
}
.link:hover {
  color: #ffeba7;
}
p {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.7;
}
h4 {
  font-weight: 600;
}
h6 span {
  padding: 0 20px;
  text-transform: uppercase;
  font-weight: 700;
}
.section {
  position: relative;
  width: 100%;
  display: block;
}
.full-height {
  min-height: 100vh;
}
[type='checkbox']:checked,
[type='checkbox']:not(:checked) {
  position: absolute;
  left: -9999px;
}
.checkbox:checked + label,
.checkbox:not(:checked) + label {
  position: relative;
  display: block;
  text-align: center;
  width: 60px;
  height: 16px;
  border-radius: 8px;
  padding: 0;
  margin: 10px auto;
  cursor: pointer;
  background-color: #ffeba7;
}
.checkbox:checked + label:before,
.checkbox:not(:checked) + label:before {
  position: absolute;
  display: block;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  color: #ffeba7;
  background-color: #102770;
  font-family: 'unicons';
  content: '\eb4f';
  z-index: 20;
  top: -10px;
  left: -10px;
  line-height: 36px;
  text-align: center;
  font-size: 24px;
  transition: all 0.5s ease;
}
.checkbox:checked + label:before {
  transform: translateX(44px) rotate(-270deg);
}

.card-3d-wrap {
  position: relative;
  width: 440px;
  max-width: 100%;
  height: 400px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  perspective: 800px;
  margin-top: 60px;
}
.card-3d-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  transition: all 600ms ease-out;
}
.card-front,
.card-back {
  width: 100%;
  height: 100%;
  background-color: #2a2b38;
  background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/pat.svg');
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: 300%;
  position: absolute;
  border-radius: 6px;
  left: 0;
  top: 0;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}
.card-back {
  transform: rotateY(180deg);
}
.checkbox:checked ~ .card-3d-wrap .card-3d-wrapper {
  transform: rotateY(180deg);
}
.center-wrap {
  position: absolute;
  width: 100%;
  padding: 0 35px;
  top: 50%;
  left: 0;
  transform: translate3d(0, -50%, 35px) perspective(100px);
  z-index: 20;
  display: block;
}

.form-group {
  position: relative;
  display: block;
  margin: 0;
  padding: 0;
  outline: 0px;
}
.form-style {
  padding: 13px 20px;
  padding-left: 55px;
  height: 48px;
  width: 100%;
  font-weight: 500;
  border-radius: 4px;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.5px;
  outline: none;
  color: #c4c3ca;
  background-color: #1f2029;
  border: none;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
  box-shadow: 0 4px 8px 0 rgba(21, 21, 21, 0.2);
}
.form-style:focus,
.form-style:active {
  border: none;
  outline: none;
  box-shadow: 0 4px 8px 0 rgba(21, 21, 21, 0.2);
}
.input-icon {
  position: absolute;
  top: 0;
  left: 18px;
  height: 48px;
  font-size: 24px;
  line-height: 48px;
  text-align: left;
  color: #ffeba7;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}

.form-group input:-ms-input-placeholder {
  color: #c4c3ca;
  opacity: 0.7;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}
.form-group input::-moz-placeholder {
  color: #c4c3ca;
  opacity: 0.7;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}
.form-group input:-moz-placeholder {
  color: #c4c3ca;
  opacity: 0.7;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}
.form-group input::-webkit-input-placeholder {
  color: #c4c3ca;
  opacity: 0.7;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}
.form-group input:focus:-ms-input-placeholder {
  opacity: 0;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}
.form-group input:focus::-moz-placeholder {
  opacity: 0;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}
.form-group input:focus:-moz-placeholder {
  opacity: 0;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}
.form-group input:focus::-webkit-input-placeholder {
  opacity: 0;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}

.btn {
  border-radius: 4px;
  height: 44px;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
  padding: 0 30px;
  letter-spacing: 1px;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  text-align: center;
  border: none;
  background-color: #ffeba7;
  color: #102770;
  box-shadow: 0 8px 24px 0 rgba(255, 235, 167, 0.2);
}
.btn:active,
.btn:focus {
  background-color: #102770;
  color: #ffeba7;
  box-shadow: 0 8px 24px 0 rgba(16, 39, 112, 0.2);
}
.btn:hover {
  background-color: #102770;
  color: #ffeba7;
  box-shadow: 0 8px 24px 0 rgba(16, 39, 112, 0.2);
}

.logo {
  position: absolute;
  top: 30px;
  right: 30px;
  display: block;
  z-index: 100;
  transition: all 250ms linear;
}
.logo img {
  height: 26px;
  width: auto;
  display: block;
}

.login-box {
  position: relative;
  /* top: 50%; */
  /* left: 50%; */
  /* transform: translate(-50%, -50%); */
  flex-direction: row;
  width: 400px;
  height: auto;
  padding: 40px;
  background: rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(146, 131, 131, 0.6);
  border-radius: 10px;
}

.login-box h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
}

.login-box .user-box {
  position: relative;
}

.login-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}
.login-box .user-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: 0.5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #03e9f4;
  font-size: 12px;
}

.login-box form a {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #03e9f4;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.5s;
  margin-top: 40px;
  letter-spacing: 4px;
}

.login-box a:hover {
  background: #03e9f4;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #686e6e, 0 0 25px #686e6e, 0 0 50px #686e6e,
    0 0 100px #686e6e;
}

.login-box a span {
  position: absolute;
  display: block;
}

.login-box a span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #03e9f4);
  animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%,
  100% {
    left: 100%;
  }
}

.login-box a span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #03e9f4);
  animation: btn-anim2 1s linear infinite;
  animation-delay: 0.25s;
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%,
  100% {
    top: 100%;
  }
}

.login-box a span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #03e9f4);
  animation: btn-anim3 1s linear infinite;
  animation-delay: 0.5s;
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%,
  100% {
    right: 100%;
  }
}

.login-box a span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #03e9f4);
  animation: btn-anim4 1s linear infinite;
  animation-delay: 0.75s;
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%,
  100% {
    bottom: 100%;
  }
}

.login-box form button {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  border: none;
  background-color: black;
  color: #03e9f4;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.5s;
  margin-top: 40px;
  letter-spacing: 4px;
}

.login-box button:hover {
  background: #03e9f4;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #686e6e, 0 0 25px #686e6e, 0 0 50px #686e6e,
    0 0 100px #686e6e;
}

.login-box button span {
  position: absolute;
  display: block;
}

.login-box button span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #03e9f4);
  animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%,
  100% {
    left: 100%;
  }
}

.login-box button span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #03e9f4);
  animation: btn-anim2 1s linear infinite;
  animation-delay: 0.25s;
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%,
  100% {
    top: 100%;
  }
}

.login-box button span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #03e9f4);
  animation: btn-anim3 1s linear infinite;
  animation-delay: 0.5s;
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%,
  100% {
    right: 100%;
  }
}

.login-box button span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #03e9f4);
  animation: btn-anim4 1s linear infinite;
  animation-delay: 0.75s;
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%,
  100% {
    bottom: 100%;
  }
}

.login-key {
  height: 100px;
  font-size: 80px;
  line-height: 100px;
  background: -webkit-linear-gradient(#27ef9f, #0db8de);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.login-title {
  margin-top: 15px;
  text-align: center;
  font-size: 30px;
  letter-spacing: 2px;
  margin-top: 15px;
  font-weight: bold;
  color: #ecf0f5;
}

.login-form {
  margin-top: 25px;
  text-align: left;
}

.UserEdit input[type='text'] {
  background-color: #204050;
  border: none;
  border-bottom: 1px solid black;
  border-top: 0px;
  border-radius: 0px;
  font-weight: bold;
  outline: 0;
  margin-bottom: 20px;
  padding-left: 0px;
  color: #ecf0f5;
}

.UserEdit input[type='password'] {
  background-color: #204050;
  border: none;
  border-bottom: 1px solid black;
  border-top: 0px;
  border-radius: 0px;
  font-weight: bold;
  outline: 0;
  padding-left: 0px;
  margin-bottom: 20px;
  color: #ecf0f5;
}

.UserEdit input[type='email'] {
  background-color: #204050;
  border: none;
  border-bottom: 1px solid black;
  border-top: 0px;
  border-radius: 0px;
  font-weight: bold;
  outline: 0;
  margin-bottom: 20px;
  padding-left: 0px;
  color: #ecf0f5;
}

.edit-box {
  margin: 0 auto;
  margin-top: 75px;
  margin-right: 30%;
  border-radius: 8px;
  height: auto;
  width: 500px;
  background: #204050;
  text-align: center;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.form-control:focus {
  margin: 0 auto;
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-bottom: 2px solid #0db8de;
  outline: 0;
  background-color: #1a2226;
  color: #ecf0f5;
}

.UserEdit .form-control-label {
  font-size: 14px;
  color: #6c6c6c;
  font-weight: bold;
  letter-spacing: 1px;
}

.btn-outline-primary {
  border-color: #0db8de;
  color: #000000;
  border-radius: 7px;
  font-weight: bold;
  letter-spacing: 1px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.UserEdit .btn-outline-primary:hover {
  background-color: #e2d6ad;
  border-color: #e2d6ad;
  color: black;
  right: 0px;
}

.login-text {
  text-align: left;
  padding-left: 0px;
  color: #a2a4a4;
}

.UserEdit form button {
  background-color: #204050;
  right: 0px;
  border: solid 2px rgb(216, 190, 190);
  /* border-color: #0db8de; */
  color: rgb(216, 190, 190);
  border-radius: 5pxpx;
  font-weight: bold;
  font-size: large;
  letter-spacing: 1px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  text-align: center;
  margin-bottom: 25px;
}

.loginbttm {
  padding: 0px;
}

.UserEdit .UserEditForm {
  width: 100%;
}

.form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 250px;
  padding: 10px;
}

.form .form-header {
  height: 30px;
  display: flex;
  align-items: center;
  text-align: center;
}

.form .form-header > div {
  width: calc(100% / 2);
  color: #ddd;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
}
.form.signup .form-header div.show-signup {
  color: #f1575b;
}

.form.signin .form-header div.show-signin {
  color: #f1575b;
}

.form.reset .form-header div.show-reset {
  color: #f1575b;
}

.form .form-elements {
  margin-top: 15px;
}

.form .form-elements .form-element {
  height: 50px;
  opacity: 1;
  overflow: hidden;
  transition: all 500ms ease-in-out;
}

.form .form-elements input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  margin: 5px 0px;
  border-radius: 10px;
  box-sizing: border-box;
  border: 1px solid #222;
  background: #f5f5f5;
}

/* .form .form-elements button {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  font-weight: 600;
  margin-top: 5px;
  border-radius: 10px;
  background: #f5f5f5;
} */
.form button {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  font-weight: 600;
  margin-top: 5px;
  border-radius: 10px;
  background: #f1575b;
  color: #f5f5f5;
  cursor: pointer;
  border: none;
  outline: none;
}
.form .arrow {
  position: absolute;
  top: 51px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #f5f5f5;
}
.form.signup .arrow {
  left: calc(calc(100% / 3) / 2);
}
.form.signin .arrow {
  left: calc(calc(100% / 9) + calc(calc(100% / 9) / 2.2));
}
.form.reset .arrow {
  left: calc(calc(calc(100% / 3) * 2) + calc(calc(100% / 3) / 3));
}

.form.signin .form-elements > div:nth-child(3) {
  height: 0px;
  opacity: 0;
}
.form.reset .form-elements > div:nth-child(2),
.form.reset .form-elements > div:nth-child(3) {
  height: 0px;
  opacity: 0;
}
